// Primary colors
$color-primary: #fff;
$color-primary-transparent: #ffffff97;
$color-black: #000000;
$color-black-transparent: #000000c5;
$color-black-transparent-mid: #0000009d;
$color-black-transparent-high: #00000025;

$color-link: #027532;
$color-link-transparent: #0275328c;

$btn-color-primary: rgb(227, 202, 14);
$btn-color-secondary: rgb(0, 0, 0);

// $btn-ghost-text-color-primary: rgb(253, 224, 0);
// $btn-ghost-text-color-primary: rgb(253, 224, 0

// social colors
$fb--hover--color:#0165E1;
$fb--active--color:#17A9FD;
$instagram--hover--color: #d62976;
$instagram--active--color: #d412db;
$twitter--hover--color: #26a7de;
$twitter--active--color: $twitter--hover--color;
$border-bottom--hover--color: #027532;



// Nav colors
$nav-color--grey: #b9bbb8;
$nav-color--dark-grey: #111!important;

