// Body
$body-bg: #f8fafc;
$body-font-color: #222222;


// Typography

   //Family

$font-family-nunito: 'Nunito', sans-serif;
$font-family-raleway: 'Raleway', sans-serif;
$font-family-abril: 'Abril Fatface', sans-serif;
$font-family-akaya: 'Akaya Telivigala', sans-serif;
$font-family-aladin: 'Aladin', sans-serif;
$font-family-allura: 'Allura', sans-serif;
$font-family-asset: 'Asset', sans-serif;



   //Size

$font-size-btn: 1.4rem;

$font-size-title-primary: 4rem;
$font-size-title-primary-reduced: 2rem;
$font-size-title-secondary: 3rem;
$font-size-title-special: 6rem;

$font-size-text-primary: 1.5rem;
$font-size-text-secondary: 1.2rem;
$font-size-text: 1rem;


$font-size-link: 1rem;


   //Weight

$font-weight-thin: 200;
$font-weight-medium: 400;
$font-weight-thick: 600;

$line-height-base: 1.6;


//transitions
$transition: all 0.5s ease-in-out;

//width,height
$full-width: 100%;
$btn-width: 150px;

$full-height: 100%;
$full-screen-height: 100vh;
$slider-height: 80vh;
$footer-height: 50px;
$nav-height: 100px;

$calc-height: calc(100vh - ($nav-height + $footer-height));

//Radius
$border-radius: 25px;
$border-radius-reduced: 10px;


//Margins
$m-standard: 10px;
$card-margin:20px;
$custom-footer-margin:1em;

//Padding
$p-standard: 10px;
$distance-pading: 35px 0;
$contact-padding:240px;

//img
$hero-img: url("../img/filtraza.jpg");
$content-img: url("../img/content/content.png");
$logo-img: url("../img/zijin.png");
